<div id="cart-slider">
    <div id="cart-name-div">
        <span id="nav-cart-close-button"><i class="fa-solid fa-chevron-right"></i></span>
        <p>Cart</p>
    </div>
    <div id="cart-slider-products">
        {% for product in cart %}
        <a href="/product/{{product[0]['id']}}">
            <div class="cart-product">
                <div class="cart-product-image">
                    <a href="/product/{{product[0]['id']}}">
                        <img src="{{product[0]['images'][0]['image']}}" alt="">
                    </a>        
                </div>
                <div class="cart-product-information">
                    <p class="cart-product-name">{{product[0]['name']}}</p>
                    <p class="cart-product-price">${{(product[0]['cost'] - 0.01) | int * (product[1]) | int}}</p>
                    <p class="cart-product-quantity">quantity: {{product[1]}}</p>
                    <button cartProductId="{{product[2]}}" class="cart-product-delete">Delete</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="view-cart-button-div">
        <button>Checkout</button>
    </div>
</div>