{% extends "base.html" %}
{% block body %}
<section id="contact">
    <div id="main-text">
        <h1 id="main-text-heading">Contact</h1>
        <p id="main-text-message">You're welcome to contact us with any inquiry</p>
        <p id="main-text-phone-and-email"> Tel: 123-456-7890&#160;&#160;&#160;&#160; | &#160;&#160;&#160;&#160;info@mysite.com</p>
    </div>
    <form method="post" id="information-form">
        {{ contact_form.hidden_tag() }}
        {{ contact_form.first_name.label}}
        {% for error in contact_form.errors.first_name %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.first_name }}
        {{ contact_form.last_name.label }}
        {% for error in contact_form.errors.last_name %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.last_name }}
        {{ contact_form.email.label }}
        {% for error in contact_form.errors.email %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.email }}
        {{ contact_form.phone.label }}
        {% for error in contact_form.errors.phone %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.phone }}
        {{ contact_form.subject.label }}
        {% for error in contact_form.errors.subject %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.subject }}
        {{ contact_form.message.label }}
        {% for error in contact_form.errors.message %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {{ contact_form.message(class="input-message") }}
        {{ contact_form.submit(class="submit")}}
    </form>
</section>
<script src="/static/contact.js"></script>
{% endblock %}