<footer id="footer">
    <div id="top">
        <div id="left">
            <ul>
                <li><a href="">shipping & return</a></li>
                <li><a href="">store polict</a></li>
                <li><a href="">payment methods</a></li>
            </ul>
        </div>
        <div id="middle">
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li>Tel: 123-456-7890</li>
                <li id="mysite"><a href="">info@twirly.com</a></li>
            </ul>
        </div>
        <div id="right">
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></li>
            </ul>
        </div>
    </div>
    <form id="bottom">
        <p id="join"><a href="/contact">Join our mailing list and never miss an update</a></p>
        <label id="email-label" for="email">*Email</label>
        <input id="email" type="email" required>
        <button id="email-submit" type="submit">Subscribe Now</button>
    </form>
</footer>