{% extends "base.html" %}
{% block body %}
<section id="store">
    {% if products_length == None %} 
    <div id="no-products">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm2a0izI423IKIrlKaWhGQK3oGu4616osmYQ&s" alt="">
        <div>
            <h2>not found</h2>
            <p>no product with such search term found</p>
            <a id="go-back" href="/">Go back Home</button>
        </div>
    </div>
    {% endif %}
    {% for product in products %}
    <a href="/product/{{product['id']}}"><div class="product">
        <div class="image-div">
            {% if product in top_rated_products %}
            <div class="top-seller"><p>Top Rated</p></div>
            {% endif %}
            <img class="product-image" src="{{product['images'][0]['image']}}" alt="">
            <img class="image-pattern" class="product-image" src="{{product['image_patterns'][0]['image_pattern']}}" alt="">
            {% if product['how_much_discount'] %}
            <div class="discount"><p>Discount!!</p></div>
            {% endif %}
        </div>
        <div class="text">
            <p class="name">{{product['name']}}</p>
            <p class="cost">${{product['cost'] - 0.01}}</p>
            {% if product['how_much_discount'] %}
                <div class="line-over-old-cost"></div>
            <p class="cost new-cost ">
                ${{(((product['cost'] - 0.01) - ((product['cost'] - 0.01) * (product['how_much_discount'] / 100))) | string)[:5]}}
            </p>
            {% endif %}
            <button class="view">View Details</button>
        </div>
    </div></a>
    {% endfor %}
</section>
<section id="time-left">
    <h2 id="time-left-main">TIME LEFT UNTIL OUR <span id="time-left-span">BIGGEST SALE OF THE YEAR BEGINS</span></h2>
    <div class="time-left-time" id="days">
        <p class="paragraph-time" id="d-days"></p>
        <p class="paragraph-time-text" id="d-days-text">DAYS</p>
    </div>
    <div class="time-left-time" id="hours">
        <p class="paragraph-time" id="h-hours"></p>
        <p class="paragraph-time-text" id="h-hours-text">HOURS</p>
    </div>
    <div class="time-left-time" id="minutes">
        <p class="paragraph-time" id="m-minutes"></p>
        <p class="paragraph-time-text" id="m-minutes-text">MINUTES</p>
    </div>
    <div class="time-left-time" id="seconds">
        <p class="paragraph-time" id="s-seconds"></p>
        <p class="paragraph-time-text" id="s-seconds-text">SECONDS</p>
    </div>
</section>
<script src="/static/app.js"></script>
{% endblock %}