{% extends 'base.html' %}

{% block body %}

<section id="log-in">
    <form method="post" action="">
        {{log_in_form.hidden_tag()}}
        <h1>Twirly</h1>
        <h2>Welcome back!</h2>
        <div id="username-or-email-div">
            {% for error in log_in_form.errors.username_or_email %}
            <p class="validation">{{error}}</p>
            {% endfor %}
            {{ log_in_form.username_or_email.label }}
            {{ log_in_form.username_or_email }}
        </div>
        <div id="password-div">
            {% for error in log_in_form.errors.password %}
            <p class="validation">{{error}}</p>
            {% endfor %}
            {{ log_in_form.password.label }}
            {{ log_in_form.password }}
        </div>
        <button>Log in</button>
    </form>
    <p id="new-to-twirly">New to Twirly? <a href="/sign-up">Sign up</a></p>
</section>


{% endblock %}