* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  top: 0px;
  z-index: 30;
  height: 9rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
#header #h-left {
  flex: 1;
  position: relative;
}
#header #h-left #l-main-text {
  position: absolute;
  font-size: 3rem;
  top: 1.8rem;
  left: 4rem;
}
#header #h-left #l-description {
  position: absolute;
  font-size: 1.7rem;
  top: 5.6rem;
  left: 4rem;
}
#header #nav {
  flex: 1;
  position: relative;
}
#header #nav ul {
  position: absolute;
  top: 4.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  gap: 2.4rem;
}
#header #nav ul li {
  list-style-type: none;
}
#header #h-right {
  flex: 1;
  position: relative;
}
#header #h-right #r-item-search {
  position: absolute;
  top: 4.9rem;
  left: 6.5rem;
  outline: none;
  background-color: transparent;
  height: 3rem;
  width: 11rem;
  border: none;
  padding-left: 1.2rem;
  padding-bottom: 0.4rem;
  border-bottom: 1.5px solid black;
  font-size: 1.5rem;
}
#header #h-right #r-item-search::-moz-placeholder {
  color: black;
  font-weight: 600;
}
#header #h-right #r-item-search::placeholder {
  color: black;
  font-weight: 600;
}
#header #h-right #r-login {
  position: absolute;
  top: 4.5rem;
  left: 22rem;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  width: 6rem;
  height: 2.5rem;
}
#header #h-right #r-cart {
  position: absolute;
  top: 4.5rem;
  left: 30rem;
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  width: 4rem;
  height: 2.5rem;
}

#store {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}
#store .s-product {
  height: 52rem;
  width: 36rem;
  display: flex;
  flex-flow: column wrap;
}
#store .s-product .p-image-div {
  flex: 3;
  position: relative;
}
#store .s-product .p-image-div .id-top-seller {
  z-index: 1;
  position: absolute;
  height: 2rem;
  width: 7rem;
  background-color: black;
  color: white;
  top: 3rem;
  left: 3rem;
  border-radius: 4px;
  position: relative;
}
#store .s-product .p-image-div .id-top-seller p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.15rem;
  white-space: nowrap;
}
#store .s-product .p-image-div .id-image {
  position: absolute;
  top: 0%;
  height: 39rem;
  width: 36rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
#store .s-product .p-image-div .id-discount {
  z-index: 1;
  position: absolute;
  height: 2rem;
  width: 7rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  top: 3rem;
  right: 3rem;
  border-radius: 4px;
}
#store .s-product .p-image-div .id-discount p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.15rem;
  white-space: nowrap;
}
#store .s-product .p-text {
  flex: 1;
  position: relative;
}
#store .s-product .p-text .t-name {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0);
  font-size: 1.9rem;
}
#store .s-product .p-text .t-cost {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  font-size: 1.7rem;
}
#store .s-product .p-text .t-add {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 55%;
  font-size: 1.5rem;
  height: 3.3rem;
  width: 10rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

#social {
  z-index: 30;
  display: flex;
  flex-flow: column wrap;
  gap: 2.8rem;
  position: fixed;
  right: 1%;
  top: 50%;
}

#time-left {
  width: 100%;
  height: 50rem;
  background-color: rgb(18, 18, 18);
  position: relative;
}
#time-left #tl-main {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
  font-size: 6rem;
  text-align: center;
  color: white;
}
#time-left #tl-main span {
  color: red;
}
#time-left .tl-time {
  position: absolute;
  top: 65%;
  height: 17rem;
  width: 17rem;
  transform: translate(-50%, 0);
  border: 1.8px solid white;
}
#time-left .tl-time .t-time {
  position: absolute;
  font-size: 9.4rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
#time-left .tl-time .t-time-text {
  position: absolute;
  font-size: 1.55rem;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
  color: white;
}
#time-left #tl-days {
  left: 26%;
}
#time-left #tl-hours {
  left: 42%;
}
#time-left #tl-minutes {
  left: 58%;
}
#time-left #tl-seconds {
  left: 74%;
}

#footer {
  background-color: rgb(18, 18, 18);
  width: 100%;
  height: 32rem;
  display: flex;
  flex-flow: column wrap;
}
#footer #f-top {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}
#footer #f-top #t-left {
  text-align: end;
}
#footer #f-top #t-middle {
  text-align: center;
}
#footer #f-top #t-right {
  text-align: start;
}
#footer #f-top div {
  flex: 1;
}
#footer #f-top div ul {
  display: flex;
  flex-flow: column wrap;
  color: white;
  font-size: 1.7rem;
  padding-top: 60px;
}
#footer #f-top div ul li {
  list-style-type: none;
}
#footer #f-top div ul #ftm-mysite {
  text-decoration: underline;
}
#footer #f-bottom {
  flex: 1;
  position: relative;
  color: white;
}
#footer #f-bottom #b-join {
  position: absolute;
  left: 23%;
  top: 10%;
  font-size: 1.5rem;
}
#footer #f-bottom #b-email-label {
  position: absolute;
  left: 23%;
  top: 28%;
  font-size: 1.4rem;
  color: rgb(117, 117, 117);
}
#footer #f-bottom #b-email {
  position: absolute;
  left: 23%;
  top: 48%;
  width: 50rem;
  height: 3rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 4px solid white;
  color: white;
  font-size: 1.3rem;
  padding-left: 1.4rem;
}
#footer #f-bottom #b-email:focus {
  border-bottom: 4px solid red;
}
#footer #f-bottom #b-email-submit {
  position: absolute;
  left: 65%;
  top: 48%;
  width: 13.5rem;
  height: 3.35rem;
  border: 2px solid white;
  border-radius: 5.5px;
  font-size: 1.4rem;
  transition-duration: 0.3s;
  cursor: pointer;
}
#footer #f-bottom #b-email-submit:hover {
  background-color: black;
  color: white;
}

#contact {
  height: 77rem;
  display: flex;
  flex-flow: column wrap;
}
#contact #c-main-text {
  flex: 8;
  position: relative;
}
#contact #c-main-text #mt-heading {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, 0);
  font-size: 3.3rem;
}
#contact #c-main-text #mt-message {
  position: absolute;
  left: 50%;
  top: 72%;
  transform: translate(-50%, 0);
  font-size: 1.9rem;
}
#contact #c-main-text #mt-phone-and-email {
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%, 0);
  font-size: 1.45rem;
}
#contact #c-information-form {
  flex: 24;
  position: relative;
}
#contact #c-information-form input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3.2rem;
  width: 60rem;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  outline: none;
  padding-left: 1.4rem;
}
#contact #c-information-form input:focus {
  border: 2.8px solid black;
}
#contact #c-information-form label {
  position: absolute;
  left: 26.35%;
  font-size: 1.4rem;
  font-weight: 100;
}
#contact #c-information-form #if-input-first-name-label {
  top: 12%;
}
#contact #c-information-form #if-input-first-name {
  top: 17%;
}
#contact #c-information-form #if-input-last-name-label {
  top: 23%;
}
#contact #c-information-form #if-input-last-name {
  top: 28%;
}
#contact #c-information-form #if-input-email-label {
  top: 34%;
}
#contact #c-information-form #if-input-email {
  top: 39%;
}
#contact #c-information-form #if-input-phone-label {
  top: 45%;
}
#contact #c-information-form #if-input-phone {
  top: 50%;
}
#contact #c-information-form #if-input-message-label {
  top: 56%;
}
#contact #c-information-form #if-input-message {
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translate(-50%, 0);
  border: 1px solid black;
  padding-top: 0.6rem;
  padding-left: 1.4rem;
  width: 60rem;
  height: 12rem;
  resize: none;
  background-color: transparent;
  outline: none;
}
#contact #c-information-form #if-input-message:focus {
  border: 2.8px solid black;
}
#contact #c-information-form #if-submit {
  position: absolute;
  top: 86%;
  left: 63.63%;
  height: 3.2rem;
  width: 13rem;
  border: 2px solid black;
  border-radius: 7.5px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: black;
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}
#contact #c-information-form #if-submit:hover {
  background-color: white;
  color: black;
}

#gift-card {
  height: 90rem;
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}
#gift-card #gc-div-of-the-picture {
  position: relative;
  flex: 1;
}
#gift-card #gc-div-of-the-picture #dotp-picture {
  position: absolute;
  right: 0%;
  top: 10%;
  height: 29rem;
}
#gift-card #gc-main-div {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}
#gift-card #gc-main-div #md-information {
  flex: 1;
  position: relative;
}
#gift-card #gc-main-div #md-information #i-main-text {
  position: absolute;
  top: 27%;
  font-size: 3rem;
  letter-spacing: 1.4px;
}
#gift-card #gc-main-div #md-information #i-price {
  position: absolute;
  top: 43%;
  font-size: 2rem;
}
#gift-card #gc-main-div #md-information #i-message {
  position: absolute;
  top: 60%;
  font-size: 1.6rem;
  width: 35rem;
}
#gift-card #gc-main-div #md-price-and-quantity {
  flex: 2;
  position: relative;
}
#gift-card #gc-main-div #md-price-and-quantity .paq-amount {
  display: none;
}
#gift-card #gc-main-div #md-price-and-quantity .paq-amount-label {
  font-size: 2rem;
  margin-right: 2.8rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-m25-label {
  color: red;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-quantity-div {
  position: absolute;
  top: 6.7%;
  height: 4rem;
  width: 10rem;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-quantity-div button {
  flex: 1;
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
  cursor: pointer;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-quantity-div #qd-quantity {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 4.7%;
  flex: 1;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-for-who {
  position: absolute;
  top: 16.15%;
  font-size: 1.4rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-for-someone-else {
  position: absolute;
  top: 22%;
  left: 0%;
  border: 1px solid black;
  background-color: black;
  color: white;
  height: 3.2rem;
  width: 19rem;
  font-size: 1.4rem;
  cursor: pointer;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-for-myself {
  position: absolute;
  top: 22%;
  left: 32.8%;
  border: 1px solid black;
  height: 3.2rem;
  width: 19rem;
  background-color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-email-input-label {
  position: absolute;
  top: 28.5%;
  left: 0%;
  font-size: 1.4rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-email-input {
  position: absolute;
  top: 32.6%;
  left: 0%;
  height: 3rem;
  width: 39.1rem;
  padding-left: 1rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-name-input-label {
  position: absolute;
  top: 38%;
  left: 0%;
  font-size: 1.4rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-name-input {
  position: absolute;
  top: 42%;
  left: 0%;
  height: 3rem;
  width: 39.1rem;
  padding-left: 1rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-date-input-label {
  position: absolute;
  top: 47.4%;
  left: 0%;
  font-size: 1.4rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-date-input {
  position: absolute;
  top: 51.4%;
  left: 0%;
  height: 3rem;
  width: 39.1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-message-input-label {
  position: absolute;
  top: 56.8%;
  left: 0%;
  font-size: 1.4rem;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-message-input {
  position: absolute;
  top: 60.8%;
  left: 0%;
  height: 10.5rem;
  width: 39.1rem;
  padding-left: 1rem;
  padding-top: 0.6rem;
  resize: none;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-submit {
  position: absolute;
  top: 83%;
  left: 0%;
  width: 39.1rem;
  height: 3.2rem;
  border: 2.15px solid black;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.3s;
}
#gift-card #gc-main-div #md-price-and-quantity #paq-submit:hover {
  background-color: white;
  color: black;
}

#header2 {
  position: fixed;
  top: 0px;
  z-index: 30;
  height: 7.4rem;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}
#header2 #h-checkout {
  flex: 1;
  position: relative;
}
#header2 #h-checkout #c-checkout-para {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 1px;
}
#header2 #h-checkout #c-checkout-para #c-checkout-span {
  font-weight: 100;
  letter-spacing: 0.1px;
}
#header2 #h-continue-browsing {
  flex: 1;
  position: relative;
}
#header2 #h-continue-browsing #cb-continue-browsing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.38rem;
  text-decoration: underline;
}

#checkout {
  height: 70rem;
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}
#checkout #c-customer-details {
  flex: 24;
  position: relative;
}
#checkout #c-customer-details #cd-customer-details-form {
  position: absolute;
  top: 10.3%;
  right: 0;
  height: 58rem;
  width: 38rem;
}
#checkout #c-customer-details #cd-customer-details-form label {
  position: absolute;
  font-size: 1.25rem;
}
#checkout #c-customer-details #cd-customer-details-form input {
  position: absolute;
  height: 3.6rem;
  width: 100%;
  outline: none;
  background-color: transparent;
  padding-left: 1.4rem;
  border: 1px solid black;
  border-radius: 3.5px;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-already-have-an-account {
  background-color: honeydew;
  height: 4rem;
  width: 100%;
  border-radius: 3.5px;
  position: relative;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-already-have-an-account #ahac-already-have-an-account-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  white-space: nowrap;
  padding-left: 1.4rem;
  font-size: 1.15rem;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-already-have-an-account #ahac-already-have-an-account-text a {
  color: blue;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-customer-details {
  position: absolute;
  top: 12%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-customer-details #cd-customer-details-text {
  font-size: 1.6rem;
  letter-spacing: 0.4px;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-email-input-label {
  top: 19%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-email-input {
  top: 23%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-first-name-input-label {
  top: 32%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-first-name-input {
  top: 36%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-last-name-input-label {
  top: 46%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-last-name-input {
  top: 50%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-phone-input-label {
  top: 60%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-phone-input {
  top: 64%;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-submit {
  position: absolute;
  top: 77%;
  height: 4rem;
  width: 100%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 3.5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition-duration: 0.3s;
}
#checkout #c-customer-details #cd-customer-details-form #cdf-submit:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#checkout #c-order-summary-and-secure-checkout {
  flex: 21;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout {
  position: sticky;
  top: 24%;
  height: 32rem;
  width: 27rem;
  display: flex;
  flex-flow: column wrap;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary {
  flex: 8;
  background-color: honeydew;
  display: flex;
  flex-flow: column wrap;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-quantity {
  flex: 2;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-quantity #q-quantity-text {
  position: absolute;
  top: 33%;
  font-size: 1.6rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details {
  flex: 3;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details p {
  position: absolute;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details #gcd-main-text {
  top: 10%;
  font-size: 1.3rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details #gcd-price {
  top: 10%;
  right: 0%;
  font-size: 1.4rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details #gcd-quantity {
  top: 51%;
  font-size: 1.25rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-gift-card-details #gcd-amount {
  top: 72.5%;
  font-size: 1.3rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax {
  flex: 2;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax p {
  position: absolute;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax #sat-subtotal-text {
  top: 20%;
  font-size: 1.25rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax #sat-subtotal {
  top: 20%;
  right: 0%;
  font-size: 1.4rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax #sat-tax-text {
  top: 55%;
  font-size: 1.25rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-subtotal-and-tax #sat-tax {
  top: 55%;
  right: 0%;
  font-size: 1.4rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-total {
  flex: 2;
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-total p {
  position: absolute;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-total #sat-total-text {
  top: 25%;
  font-size: 1.7rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-order-summary #os-total #sat-total {
  top: 25%;
  right: 0%;
  font-size: 1.7rem;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-secure-checkout {
  flex: 1;
  position: relative;
}
#checkout #c-order-summary-and-secure-checkout #osasc-order-summary-and-secure-checkout #osasc-secure-checkout #sc-secure-checkout-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.22rem;
}

#faq {
  display: flex;
  flex-flow: column wrap;
  height: 70rem;
}
#faq #f-description {
  flex: 1;
}
#faq #f-questions {
  flex: 2;
  background-color: red;
}

a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=style.css.map */